/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mr-8 {
  margin-right: 8px;
}

.mr-12 {
  margin-right: 12px;
}

.mr-24 {
  margin-right: 24px;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.h-100 {
  height: 100%;
}

.header {
  background: #AA0601;
  padding: 0 88px;
}

.header h1 a {
  display: block;
  width: 80px;
  height: 48.57px;
  background-image: url(../images/logo.png);
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

.menu {
  width: 512px;
  line-height: 108px;
}

.menu li a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 20px;
}

.banner {
  background-image: url(../images/banner.png);
  background-position: center center;
  background-size: cover;
  height: 840px;
}

.content {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.slogn {
  color: #650300;
}

.slogn h3 {
  font-size: 36px;
  text-align: right;
}

.slogn h2 {
  font-size: 64px;
}

.intro {
  color: #650300;
  padding: 64px 0px 80px 0px;
  background-color: #AA06010D;
}

.intro h4 {
  font-size: 48px;
  margin-bottom: 60px;
  font-weight: 600;
}

.feature li {
  width: 282px;
  padding: 0 37px;
}

.feature li h3 {
  font-size: 24px;
  font-weight: 500;
}

.feature li p {
  color: #000000;
  font-size: 16px;
}

.feature li img {
  width: 100px;
  height: 100px;
  margin: 0px auto 40px auto;
}

.customer-recommender {
  margin-top: -308px;
  padding-bottom: 80px;
}

.customer-recommender h3 {
  color: #FFFFFF;
  font-size: 48px;
  margin-bottom: 60px;
}

.customer-list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.customer-list li {
  margin: 0px 12px;
}

.customer-list-area {
  border: 1px solid #DEE2E6;
  padding: 16px;
}

.text-outer {
  width: 250px;
  margin: 0 auto;
  font-size: 16px;
  color: #212529;
}

.text-outer span {
  color: #707070;
}

.footer {
  background-color: #AA0601;
  padding: 48px 0px 39px 0px;
  color: #FFFFFF;
}

.link {
  margin-bottom: 38px;
}

.website-link {
  width: 368px;
}

.website-link li a {
  text-decoration: none;
  color: #FFFFFF;
}

.social-link {
  width: 208px;
}

.countas-way-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

.countas-way-list li p {
  font-size: 36px;
}

.countas-way-list img {
  width: 36px;
  height: 36px;
  margin-right: 23px;
}

.countas-way-list li:nth-child(2) img {
  width: 48px;
  height: 48px;
  margin-right: 12px;
}

.copyright ul {
  width: 188px;
}

.copyright ul li a {
  font-size: 14px;
  text-decoration: none;
  color: #FFFFFF;
}

.copyright a img {
  width: 80px;
  height: 48.57px;
}

.copyright-outer a {
  margin-right: 38px;
}
/*# sourceMappingURL=all.css.map */